.slider {
  position: relative;
}
.slider .priv_arrow {
  position: absolute;
  bottom: -55px;
  left: 42%;
  color: #fff;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.slider .next_arrow {
  position: absolute;
  bottom: -55px;
  right: 42%;
  color: #fff;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
